.box2_conatiner{
    display: flex;
    width:100vw;
    box-sizing: border-box;
    height: fit-content;
    margin-top: 5rem;
    background-color: #FFE000;
    padding: 3rem;
    padding-left: 9rem;
    text-align: left;
    line-height: 2rem;
}
.box2_left_container{
    flex: 1;
}
.box2_right_container{
    flex:1;
}
.box2_right_image{
    height:80vh;
    width:25vw
}
@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (orientation: portrait) {
    .box2_conatiner{
        display: flex;
        width:100vw;
        box-sizing: border-box;
        height: fit-content;
        margin-top: 5rem;
        background-color: #FFE000;
        padding:10px;
        padding-left: 1.5rem;
        text-align: left;
        line-height: 1.5rem;
        /* gap: 2rem; */
        font-size:10px;
    }
    .box2_left_description{
        line-height: 1rem;
    }
    .box2_left_container{
        flex: 2;
    }
    .box2_right_container{
        flex:1;
    }
    .box2_right_image{
        height:40vh;
        width:35vw
    }
}