.need_help_container{
    display: flex;
    width: 80vw;
    margin: 0 auto;
    margin-top:7rem;
    text-align: left;
    line-height: 2rem;
   gap: 15rem;
   padding-left:5rem
}
.need_help_left{
    flex:1
}
.need_help_right{
    flex:1
}
.need_help_btn{
    width:20vw;
    height:5vh;
    display: flex;  
}
.need_help_call{
    display: flex;
    background-color: #1376F8;
    color: white;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   
    
}
.need_help_number{
    color: #1376F8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid black;  
    width: 100%;
    position: relative;
    left: 2px;
    text-align: center;

}
.need_help_call_image{
    width: 2vw
}
.need_help_frame{
    width: 20vw;
    height: 32vh;
    position: relative;
    background: linear-gradient(52.56deg, rgba(37, 180, 248, 0) 0%, rgba(37, 180, 248, 0.473958) 64.42%, #25B4F8 126.21%);
    top: -15rem;
  left: 3rem;


}
.need_help_right_img{
    position: relative;
    z-index: 10;
    width: 20vw;
    height: 30vh;
}